/* styles.css */
body {
  margin: 0;
  height: 100vh; /* Prendre toute la hauteur de la fenêtre */
  overflow: hidden; /* Éviter le défilement */
}

canvas {
  display: block; /* Supprimer les marges autour du canvas */
}
